<h1>Invoices</h1>

<table>
 <thead>
  <tr>
   <th>ID</th>
   <th>Invoice Customer</th>
   <th>Actions</th>
  </tr>
</thead>
<tbody>
  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.number %></td>
      <td><%= invoice.customer.name %></td>
      <td>
        <%= link_to "Enviar", sender_invoice_invoice_path(invoice), method: :post %> |
        <%= link_to "Visualizar", invoice_path(invoice, format: "pdf") %> |
        <%= link_to "Editar", edit_invoice_path(invoice) %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<p><%= link_to "New Invoice", new_invoice_path %></p>
